<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <a style="font-style: italic;" href="/"><-----RETURN</a>
    <h1>Please select desired items to add to your order</h1>
    <form method='get' action="/">  
        <fieldset>  
            <% for(var category in items) { %>
                <h2><%= category.charAt(0).toUpperCase() + category.slice(1); %></h2>
                <% for(var j=0; j < items[category].length; j++) { %>
                    <input type="button" id="1"
                    value="<%= items[category][j].name%> - <%= items[category][j].cost%> &euro;" 
                    onclick="return addItem('<%= items[category][j].name%>', '<%= items[category][j].cost%>');"><br> 

                <% } %>        
            <% } %>
            <br>
            <div style="display: flex; flex-direction: row;">
                <input type="submit" value="Place Order" onclick="return handleSubmit();">
                <b><p style="padding-left: 1cm;" id="totalAmount">0</p></b>
                <p id="currencySymbol" style="padding-right: 1cm;" > &euro;</p>
                <select onchange="return changeCurrency()" id="currency" name="currency">
                    <option value="&euro;EUR">EUR</option>
                    <option value="&pound;GBP">GBP</option>
                    <option value="&dollar;USD">USD</option>
                    <option value="&yen;JPY">YEN</option>
                  </select>
            </div>
    </fieldset>  
</form>

<script type="text/javascript">
    let items = []
    let currentCurrency = 'EUR'

    function addItem(name, price){
        items.push(name)
        let totalAmount = document.getElementById("totalAmount")
        totalAmount.innerHTML = (parseFloat(totalAmount.innerHTML) + parseFloat(price)).toFixed(2);
    }


    async function changeCurrency(){

        let currencySelector = document.getElementById("currency");
        let totalAmount = document.getElementById("totalAmount");
        const newSymbol = currencySelector.value.substr(0,1);
        const to = currencySelector.value.substr(1);

        const from = currentCurrency;

        const amount = totalAmount.innerHTML;
        

        const url = `user/currencyConvert?to=${to}&from=${from}&amount=${amount}`
        fetch(url, {
            method: 'GET',
        }).then(function (response) {
            if(response.status!=500){return response.text();}else{return}
        }).then(function (convertedAmount) {
            
            
            totalAmount.innerHTML = parseFloat(convertedAmount).toFixed(2);
            currentCurrency = to;
            document.getElementById("currencySymbol").innerHTML = newSymbol;

        }).catch(function (err) {
            // There was an error
            console.warn('Something went wrong.', err);
        });
        


        
        
    }


    function handleSubmit(id){
        if(document.getElementById("totalAmount").innerHTML == 0){
            alert("Please select items")
            return
        }
        var currentdate = new Date(); 
        const timestamp =currentdate.getHours() + ":" + currentdate.getMinutes()


        fetch('/user/submit', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body:   JSON.stringify({ 
        address: "-Some address-",
        timestamp: timestamp,
        price:{
            amount:document.getElementById("totalAmount").innerHTML,
            currency:currentCurrency
        },
        items: items 
        })
    })
    
    }



    </script>

</html>